<main>
    <button class=" post-delete-button" id="add-button">iDea</button>

    <!-- Form to Create a New Post -->
    <form class="form " id="post-form" action="/create-post" method="POST" style="display: none; width:80%; opacity: 80%; background: rgba(137,137,137,0.21);">
        <div class="form-group">
            <label style="color: white;">iDea</label>
            <input class="form-input" type="text" id="post_title" style="width: 50%;" />
        </div>

        <div class="form-group">
            <input class="form-input" type="text" id="post_content" style="width: 95%; height: 60px;"/>

        </div>
        <div class="form-group">


            <button class="btn btn-primary" type="submit" id="newIdea" >Submit</button>

        </div>


    </form>
    <button class="buttons btn post-delete-button" id="comments-button">Comments</button>
    <div id="post-list"> <!-- Common ancestor element -->

    {{#each posts}}
        <div class="post-container" data-id="{{this.id}}" id="post-{{@index}}">
            <h2 style=" opacity: 90%; margin-top:5px; margin-left: 40px;"  class="post-subtitle">{{this.title}}</h2>
            <h4 style=" opacity: 80%; margin-left: 40px;"class="post-content">{{this.post_content}}</h4>
            <h5 style="align-self: end; opacity: 50%; margin-right: 40px; margin-bottom: -10px;" class="post-content">{{this.username_fk}}</h5>
            <h5 style="align-self: end; opacity: 50%; margin-right: 40px; margin-bottom: 1px;" class="post-content">{{this.date_created}}</h5>




            <button class="buttons btn post-delete-button commentB"  data-id="{{this.id}}">Share your thoughts</button>

            <input class="form-input" type="text" id="commentID" style="width: 80%;align-self: center;opacity: 50%;margin-top: 10px" />


            <button class="buttons btn post-delete-button deleteB"  data-id="{{this.id}}">Delete Post</button>





        </div>
    {{/each}}

        {{#each commentz}} <!-- Iterate through all comments -->
            <h4 style="margin-left: 70px;" class="post-content">{{this.comments}} </h4>
            <h5 style="text-align: end; opacity: 50%; margin-right: 40px; margin-bottom: -10px;" class="post-content">{{this.username_fk}}</h5>

        {{/each}}


    </div>

</main>


